{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title"> Rail Signal Design Team Leader </h1>
  <div class="data-article" id="data-content">
    <p>
       We are currently looking for Rail Signal Design Managers/Team Leaders for a permanent job in North Yorkshire. If you are Chartered with significant experience in Rail Signal Design and with Network Rail we would love to hear from you.Hays Specialist Recruitment Limited acts as an employment agency for permanent recruitment and employment business for the supply of temporary workers. By applying for this job you accept the T and Cs, Privacy Policy and Disclaimers which can be found at hays <br>
        </p>
  </div>
</div>
{% endblock %}


