{% extends "base.html" %}

{% block links %}
<a href="/admin" >ADMIN</a>
{% endblock %}

{% block body %}
<div id="main">
    <div id="content">
        <div class="box" style='height: auto'>
        <h2><span>ACCOUNTING/FINANCE</span></h2>
        <div class="cl">&nbsp;</div>
        <div class="posts">
          <div class="post">
            <div class="data">
              <h4><a id="link-1" href="#"> </a></h4>
              <p id="data-embed-1"> </p>
            </div>
          </div>
          <div class="post">
            <div class="data">
              <h4><a id="link-2" href="#"> </a></h4>
              <p id="data-embed-2"> </p>
            </div>
          </div>
            <div class="post">
            
            <div class="data">
              <h4><a id="link-3" href="#"> </a></h4>
              <p id="data-embed-3"> </p>
            </div>
          </div>
            <div class="post">
            <div class="data">
              <h4><a id="link-4" href="#"> </a></h4>
              <p id="data-embed-4"> </p>
            </div>
          </div>
            <div class="post">
            <div class="data">
              <h4><a id="link-5" href="#"> </a></h4>
              <p id="data-embed-5"> </p>
            </div>
          </div>
          <div class="post last">
            <div class="data">
              <h4><a id="link-6" href="#">  </a></h4>
              <p id="data-embed-6"> </p>
            </div>
          </div>
          <div class="cl">&nbsp;</div>
        </div>
      </div>



        <div class="box" style='height: auto'>
        <h2><span>ENGINEERING</span></h2>
        <div class="cl">&nbsp;</div>
        <div class="posts">
          <div class="post">
            <div class="data">
              <h4><a id="link-7" href="#"> </a></h4>
              <p id="data-embed-7"> </p>
            </div>
          </div>
          <div class="post">
            <div class="data">
              <h4><a id="link-8" href="#"> </a></h4>
              <p id="data-embed-8"> </p>
            </div>
          </div>
            <div class="post">
            <div class="data">
              <h4><a id="link-9" href="#"> </a></h4>
              <p id="data-embed-9"> </p>
            </div>
          </div>
            <div class="post">
            <div class="data">
              <h4><a id="link-10" href="#"> </a></h4>
              <p id="data-embed-10"> </p>
            </div>
          </div>
            <div class="post">
            <div class="data">
              <h4><a id="link-11" href="#"> </a></h4>
              <p id="data-embed-11"> </p>
            </div>
          </div>
          <div class="post last">
            <div class="data">
              <h4><a id="link-12" href="#">  </a></h4>
              <p id="data-embed-12"> </p>
            </div>
          </div>
          <div class="cl">&nbsp;</div>
        </div>
      </div>



        <div class="box" style='height: auto'>
        <h2><span>HEALTHCARE/NURSING</span></h2>
        <div class="cl">&nbsp;</div>
        <div class="posts">
          <div class="post">
            <div class="data">
              <h4><a id="link-13" href="#"> </a></h4>
              <p id="data-embed-13"> </p>
            </div>
          </div>
          <div class="post">
            <div class="data">
              <h4><a id="link-14" href="#"> </a></h4>
              <p id="data-embed-14"> </p>
            </div>
          </div>
            <div class="post">
            <div class="data">
              <h4><a id="link-15" href="#"> </a></h4>
              <p id="data-embed-15"> </p>
            </div>
          </div>
            <div class="post">
            <div class="data">
              <h4><a id="link-16" href="#"> </a></h4>
              <p id="data-embed-16"> </p>
            </div>
          </div>
            <div class="post">
            <div class="data">
              <h4><a id="link-17" href="#"> </a></h4>
              <p id="data-embed-17"> </p>
            </div>
          </div>
          <div class="post last">
            <div class="data">
              <h4><a id="link-18" href="#">  </a></h4>
              <p id="data-embed-18"> </p>
            </div>
          </div>
          <div class="cl">&nbsp;</div>
        </div>
      </div>



        <div class="box" style='height: auto'>
        <h2><span>SALES</span></h2>
        <div class="cl">&nbsp;</div>
        <div class="posts">
          <div class="post">
            <div class="data">
              <h4><a id="link-19" href="#"> </a></h4>
              <p id="data-embed-19"> </p>
            </div>
          </div>
          <div class="post">
            <div class="data">
              <h4><a id="link-20" href="#"> </a></h4>
              <p id="data-embed-20"> </p>
            </div>
          </div>
            <div class="post">
            <div class="data">
              <h4><a id="link-21" href="#"> </a></h4>
              <p id="data-embed-21"> </p>
            </div>
          </div>
            <div class="post">
            <div class="data">
              <h4><a id="link-22" href="#"> </a></h4>
              <p id="data-embed-22"> </p>
            </div>
          </div>
            <div class="post">
            <div class="data">
              <h4><a id="link-23" href="#"> </a></h4>
              <p id="data-embed-23"> </p>
            </div>
          </div>
          <div class="post last">
            <div class="data">
              <h4><a id="link-24" href="#">  </a></h4>
              <p id="data-embed-24"> </p>
            </div>
          </div>
          <div class="cl">&nbsp;</div>
        </div>
      </div>

        <div class="box" style='height: auto'>
      <h2><span>CONTACT</span></h2>
      <div class="cl">&nbsp;</div>
      <div class="posts">
          <div class="post last">
          <div class="data">
            <h4><a id="link-25" href="#">  </a></h4>
            <p id="data-embed-25"> </p>
          </div>
        </div>
        <div class="cl">&nbsp;</div>
      </div>
    </div>


    </div>
</div>

{% endblock %}

{% block script %}
<script>
  $(document).ready(function (){
    $.each([
    "{{ url_for('article', folder='Accounting_Finance', filename='IFA Client Support') }}",
    "{{ url_for('article', folder='Accounting_Finance', filename='PPI Telephony') }}",
    "{{ url_for('article', folder='Accounting_Finance', filename='Infrastructure Project Manager') }}",
    "{{ url_for('article', folder='Accounting_Finance', filename='Assistant Treasury Manager') }}",
    "{{ url_for('article', folder='Accounting_Finance', filename='Commercial Insurance Underwriter') }}",
    "{{ url_for('article', folder='Accounting_Finance', filename='Head of Financial Planning Analysis  permanent or contract') }}",
    "{{ url_for('article', folder='Engineering', filename='Assembly Production Technicians Milton Keynes') }}",
    "{{ url_for('article', folder='Engineering', filename='Project Engineer') }}",
    "{{ url_for('article', folder='Engineering', filename='Electronics Project Engineer') }}",
    "{{ url_for('article', folder='Engineering', filename='Welder Fabricator') }}",
    "{{ url_for('article', folder='Engineering', filename='Graduate Recruitment Consultant') }}",
    "{{ url_for('article', folder='Engineering', filename='Telesales Operator Sales Negotiator') }}",
    "{{ url_for('article', folder='Healthcare_Nursing', filename='Account Executive Opportunity with Med Comms Agency') }}",
    "{{ url_for('article', folder='Healthcare_Nursing', filename='Peripatetic Home Manage  kent  Maidstone') }}",
    "{{ url_for('article', folder='Healthcare_Nursing', filename='GP') }}",
    "{{ url_for('article', folder='Healthcare_Nursing', filename='Staff Nurse Job Bingley') }}",
    "{{ url_for('article', folder='Healthcare_Nursing', filename='Staff Nurse  Haslemere') }}",
    "{{ url_for('article', folder='Healthcare_Nursing', filename='Gastro Intestinal Physiologist') }}",
    "{{ url_for('article', folder='Sales', filename='Packaging Marketing Sales Administrator') }}",
    "{{ url_for('article', folder='Sales', filename='Sales Representative') }}",
    "{{ url_for('article', folder='Sales', filename='Commercial Partnership Sales Executive') }}",
    "{{ url_for('article', folder='Sales', filename='Senior Education Recruitment Consultant Birmingham') }}",
    "{{ url_for('article', folder='Sales', filename='Business Development Manager') }}",
    "{{ url_for('article', folder='Sales', filename='Rail Signal Design Team Leader') }}",
    "{{ url_for('article', folder='Contact_Us', filename='Contact') }}",
    ], function(i, a){
      $.get(a, function(data){

        var shortened = $(data).find('#data-content').text().substring(0, 400);
        var title = $(data).find('#data-title').text();

        // Embed data into the homepage
        $("#data-embed-" + String(i+1)).text(shortened + '...');
        $("#link-" + String(i+1)).text(title);
      });
      $("#link-" + String(i+1)).attr("href", a)
    });    
  });
</script>
{% endblock %}

